<!doctype html>
<html>

<head profile="http://www.w3.org/2005/10/profile">
    <title>{{.SiteConfiguration.PageTitle}}</title>
    <meta name="description" content="{{.SiteConfiguration.PageDescription}}"
        data-head-react="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="{{.SiteConfiguration.Canonical}}">

    <meta name="google-site-verification" content="Y9bL5xOlXcTo2tWa5fJeJE2VDP4Vw8IibFMC4TNfZfM" />

    <link rel="apple-touch-icon" href="/static/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/favicon.png">
    <link rel="shortcut icon" href="/static/favicon.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img src="/static/favicon.png" alt="" width="30" height="24" class="d-inline-block align-top">
                    <strong>{{.SiteConfiguration.Title}}</strong>
                </a>
            </div>
        </div>
    </header>
    
    <main>
        <section class="py-5 text-center container">
            <div class="row">
                <div class="col">
                    <p>Buscar en otros paises</p>
                    <a href="https://usefulsearch.herokuapp.com/autos-usados-mercadolibre-ultima-oportunidad-argentina/">Argentina</a>
                    <a href="https://usefulsearch.herokuapp.com/autos-usados-mercadolibre-ultima-oportunidad-brasil/">Brasil</a>
                    <a href="https://usefulsearch.herokuapp.com/autos-usados-mercadolibre-ultima-oportunidad-mexico/">Mexico</a>
                    <a href="https://usefulsearch.herokuapp.com/autos-usados-mercadolibre-ultima-oportunidad-chile/">Chile</a>
                    <a href="https://usefulsearch.herokuapp.com/autos-usados-mercadolibre-ultima-oportunidad-uruguay/">Uruguay</a>
                    <a href="https://usefulsearch.herokuapp.com/autos-usados-mercadolibre-ultima-oportunidad-colombia/">Colombia</a>
                    <a href="https://usefulsearch.herokuapp.com/autos-usados-mercadolibre-ultima-oportunidad-venezuela/">Venezuela</a>
                </div>
            </div>
            <form class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <label for="brandSelect">Elegí la marca que estás buscando</label>
                    <select class="form-select form-select-lg mb-3" name="brand" id="brandSelect" onchange="this.form.submit()">
                        {{ range .BrandFilterValues }}
                            {{if .Selected}}
                            <option selected value="{{.Value}}">{{.Name}}</option>
                            {{ else }}
                            <option value="{{.Value}}">{{.Name}}</option>
                            {{ end }}
                        {{ end }}
                    </select>
                </div>
                <div class="col-lg-6 col-md-8 mx-auto">
                    <label for="stateSelect">Donde queres comprarlo</label>
                    <select class="form-select form-select-lg mb-3" name="state_id" id="stateSelect" onchange="this.form.submit()">
                        {{ range .StateFilterValues }}
                        {{if .Selected}}
                        <option selected value="{{.Value}}">{{.Name}}</option>
                        {{ else }}
                        <option value="{{.Value}}">{{.Name}}</option>
                        {{ end }}
                        {{ end }}
                    </select>
                </div>
            </form>
        </section>

        <div class="album py-5 bg-light">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-sm-3 row-cols-md-5">
                    {{ range .Items }}
                    <div class="col">
                        <div class="card shadow-sm">
                            <a href="{{ .Permalink }}">
                                <img src="{{.Thumbnail}}" class="card-img-top" preserveAspectRatio="xMidYMid slice" focusable="false">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ .Title }}</h5>
                                <h6 class="card-text">{{ .Description }}</h6>
                                <h4 class="card-price">{{ .CurrencyId }} {{ .Price }}</h4>
                                <a href="{{ .Permalink }}" class="card-link">Ver en Mercado Libre</a>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </main>
</body>
<html>