<!doctype html>
<html>

<head profile="http://www.w3.org/2005/10/profile">
    <title>Autos Usados Mercado Libre Útima Oportunidad</title>
    <meta name="description" content={{.Title}}
        data-head-react="true" />

    <link rel="apple-touch-icon" href="/static/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/favicon.png">
    <link rel="shortcut icon" href="/static/favicon.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="bg-light">
    <div>Autos usados en Mercado Libre! Ultima oportunidad para comprarlos</div>
    <table>
        {{ range .Items }}
        <tr>
            <td>{{ .Title }}</td>
            <td>{{ .CurrencyId }} {{ .Price }}</td>
            <td><a href="{{.Permalink}}">Link a Mercado Libre</a></td>
        </tr>
        {{ end }}
    </table>
</body>
<html>