<!doctype html>
<html>

<head profile="http://www.w3.org/2005/10/profile">
    <title>{{.PageTitle}}</title>
    <meta name="description" content={{.PageDescription}}
        data-head-react="true" />

    <link rel="apple-touch-icon" href="/static/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/favicon.png">
    <link rel="shortcut icon" href="/static/favicon.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="bg-light">
    <h2>{{.Title}}</h2>
    <div class="container-fluid">
        <div class="row">
            {{ range .Items }}
            <div class="col-sm-2">
                <div class="card">
                    <a href="{{ .Permalink }}">
                        <img src="{{.Thumbnail}}" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ .Title }}</h5>
                        <h6 class="card-price">{{ .CurrencyId }} {{ .Price }}</h6>
                        <a href="{{ .Permalink }}" class="card-link">Ver en Mercado Libre</a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</body>
<html>